@font-face {
  font-family: 'Bullens-Bold';
  src: url("Bullens-Bold.otf"); }
@font-face {
  font-family: 'Bullens-Light';
  src: url("Bullens-Light.otf"); }
html, body {
  margin: 0;
  background-color: #000000; }

.wrapper {
  background-color: #fff700;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: table; }

.countdown-wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.countdown {
  width: 100%;
  text-align: center;
  font-family: 'Bullens-Bold', sans-serif;
  font-size: 20vw;
  margin-top: 0;
  margin-bottom: 0;
  color: #000; }

.info-txt {
  font-family: 'Bullens-Light', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  width: 700px;
  text-align: center;
  margin-top: 0;
  line-height: 1.3em;
  color: #000;
  display: inline-block; }

.logo {
  position: absolute;
  bottom: 100px;
  width: 150px;
  left: calc(50% - 75px);
  height: auto; }

.video {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: auto;
  padding: 0; }

/*# sourceMappingURL=style.css.map */
