@import "mixins";

html, body {
  margin: 0;
  background-color: #000000;
}

.wrapper {
  background-color: #fff700;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}


.countdown {
  font-family: 'Bullens-Bold', sans-serif;
  font-size: 250px;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  top: 160px;
  color: #000;
}

.info-txt {
  font-family: 'Bullens-Light', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  width: 700px;
  text-align: center;
  position: absolute;
  top: 430px;
  margin-top: 0;
  line-height: 1.3;
  color: #000;
}

// .logo-container {
//   position: absolute;
//   bottom: 50px;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
// }
.logo {
  position: absolute;
  bottom: 100px;
  width: 150px;
  height: auto;
}
.video {
  display:none;
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:10;
  width: 100%;
  height: auto;
  padding: 0;
}
